@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: none;
  }
  @font-face {
    font-family:'BourtonBase';
    src: url(../../../public/fonts/bourtonbase.ttf);
  }
  @font-face {
    font-family:'BourtonBaseDrop';
    src: url(../../../public/fonts/bourtonbasedrop.ttf);
  }
  @font-face {
    font-family:'BourtonLineBold';
    src: url(../../../public/fonts/bourtonlinebold.ttf);
  }
  @font-face {
    font-family:'DM Sans';
    src: url(../../../public/fonts/DMSans-Regular.ttf);
  }
  /*===== VARIABLES CSS =====*/

  :root {
    /*========== Colors ==========*/
    --main-color: #00CDDF;
    --black-color: #141820 ;
    --white-color: #ffffff;
    --body-font:  'DM Sans';
    --primary-font:'BourtonBase';
    --secondary-font:'BourtonBaseDrop';
    --third-font:'BourtonLineBold';
    --sec-title-font: 25px;
    --p-font: 16px;
    --p-font-height: 30px;
  }

  .section-title{
    font-size:64px;
    font-weight: 500;
    color: var(--white-color);
    font-family: var(--primary-font);
  }
  .section-title-2{
    font-size:46px;
    font-weight: 500;
    color: var(--white-color);
    font-family: var(--secondary-font);
    font-weight: 900;
  }
  .section-title-2 span{
    color: var(--main-color);
  }
  .section-title span{
    color: var(--main-color);
  }
.focus-color{
  color: var(--main-color);
  letter-spacing: 0.3em;
  font-family: var(--secondary-font);
}
  
  @media screen and (max-width: 992px) {
    :root {
      --l-title: 60px;
      --p-font: 16px;
    }
    .section-title{
      font-size: 50px;
    }
    .section-title-2{
      font-size: 35px;
    }
  }
  
  @media screen and (max-width: 768px) {
    :root {
      --l-title: 40px;
    }
    .section-title{
      font-size: 40px;
    }
    .section-title-2{
      font-size: 30px;
    }
  }
  
  /* ==================CSS Variable END========= */

  /*========== BASE ==========*/
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  p{
    margin-bottom: 0 !important;
  }
  /* .app-con {
    overflow: hidden;
} */
html{
  scroll-behavior: smooth;
}
body {
  background-color: #020015!important ;
    font-size: var(--p-font) !important;
    font-weight: 400 !important;
    font-family: var(--body-font) !important;
    line-height: var(--p-font-height);
    color: var(--white-color) !important;
  }
  img {
    vertical-align: middle;
    height: auto;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--main-color);
  }
  
  ul,
  ol {
    padding: 0;
    list-style: none;
  }
  
  button:focus {
    outline: none;
  }
  
  /* ============================GENERAL STYLE END======= */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  span,
  label {
    margin: 0;
  }
  
  .ovh {
    overflow: hidden;
  }
  
  table.table {
    white-space: nowrap;
  }
  
  /* ===================custom button============ */
  
  .custom-btn {
    border: none;
    background: var(--main-color);
    color: var(--white-color);
    font-family: var(--secondary-font);
    padding: 10px 30px 15px 30px;
    border-radius: 6px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
  .custom-btn:hover{
    color: var(--white-color);
    transform: scale(0.95);
  }
  .alt-custom-btn {
    border: none;
    background: var(--white-color);
    color: var(--black-color);
    font-family: var(--secondary-font);
    padding: 10px 30px;
    border-radius: 6px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
  .alt-custom-btn:hover{
    color: var(--white-color);
    transform: scale(0.95);
    background-color: var(--main-color);
  }
  
  /* ===================custom button end=============== */
  /* =============padding margin class============= */
  
  .cpy-5 {
    padding: 50px 0;
  }
  .cpt-9{
    padding-top: 150px;
  }
  .cpy-8 {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  
  .cpy-6 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .cpt-6 {
    padding-top: 100px;
  }
  
  .cpb-6 {
    padding-bottom: 100px;
  }
  
  .cpt-7 {
    padding-top: 80px;
  }
  
  .cpb-7 {
    padding-bottom: 80px;
  }
  
  @media screen and (max-width: 992px) {
    .cpy-5 {
      padding: 40px 0;
    }
    .cpt-9{
      padding-top: 100px;
    }
    .cpy-8 {
      padding-top: 80px;
      padding-bottom: 60px;
    }
    .cpy-6 {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .cpt-6 {
      padding-top: 80px;
    }
    .cpb-6 {
      padding-bottom: 80px;
    }
    .cpt-7 {
      padding-top: 60px;
    }
    .cpb-7 {
      padding-bottom: 60px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cpy-5 {
      padding: 30px 0;
    }
    .cpy-8 {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .cpy-6 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .cpt-6 {
      padding-top: 60px;
    }
    .cpb-6 {
      padding-bottom: 60px;
    }
    .cpt-7 {
      padding-top: 40px;
    }
    .cpb-7 {
      padding-bottom: 40px;
    }
  }

  